{% extends "home/base.html" %}
{% load static %}

{% comment %} http://localhost:8000/blog/about/ {% endcomment %}

{% block content %}


<section class="hero-section4 d-flex justify-content-center align-items-center">
    <div class="section-overlay3"></div>    

    <div class="container">
        <div class="row">
            <h1 class="" style="color: var(--section-bg-color);">Personal Support</h1>
            <div class="col-lg-3 col-12">
                <div class="about-image-wrap custom-border-radius-start">
                    <img src="{% static 'images/528224c835cfe80.webp' %}"
                        class="about-image custom-border-radius-start img-fluid" alt="">


                </div>
            </div>

            <div class="col-lg-9 col-12">

                <div class="custom-text-blocks">
                    <p class="text-white">
                        Today, Offerland offers you personal support from us and from a community of incredible people,
                        whether you're advancing your career or seeking new job opportunities.
                    </p>
                    <p class="text-white">
                        Our community, while free to join, includes certain limitations designed to prepare members for
                        meaningful engagement. We expect participants to uphold standard social norms that enrich
                        interactions and eliminate harm in any form, fostering a win-win collaboration format.

                    </p>
                    <p class="text-white">
                        Creating the Community

                    </p>
                    </p>
                    <p class="text-white">
                        We aim to cultivate an environment that helps you maintain yourself, your skills, and your daily
                        routine in alignment with current business demands and your career ambitions.
                    </p>
                    <p class="text-white">
                        The Offerland community was created to simplify job searching by removing unnecessary activity
                        caused by the proliferation of platforms, complex interfaces, and corporate structures, though
                        it does not exclude traditional methods.
                        For those interested , we are developing services for the private sector to support your
                        employment process and collaboration with legal entities. Visit the relevant page to learn more.

                    </p>
                    <div class="custom-border-btn-wrap d-flex space-between mt-5">




                    </div>
                </div>
            </div>


        </div>


    </div>
   
</section>


<section class="job-section section-padding">
    <div class="container">
        <div class="services-grid">

            <div class="card_service services-block-wrap">
                <h2>Mock interview</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/mock_interview.webp' %}" alt="Mock interview Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>
            <div class="card_service services-block-wrap">
                <h2>Consulting</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/Consulting.webp' %}" alt="Consulting Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>
            <div class="card_service services-block-wrap">
                <h2>Continuous support</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/Continious_integration.webp' %}" alt="Continuous support Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">

            <a class="page-link" href="{% url 'home:personal_support' %}" aria-label="Previous">
                <span aria-hidden="true">all</span>
            </a>
        </ul>
    </nav>
</section>

<section class="hero-section4 d-flex justify-content-center align-items-center">
    <div class="section-overlay3"></div>

    <div class="container">
        <div class="row">
            <h1 class="ms-auto" style="color: var(--section-bg-color);">Business Support</h1>
            <div class="col-lg-9 col-12">
                <div class="custom-text-blocks2">
                    <p class="text-white">
                        While automation and AI may seamlessly integrate into our lives, there are still certain needs
                        of modern businesses that they cannot address or replace. Every company – and you, as part of it
                        – has routine tasks that fall outside the scope of hired employees. This is precisely why we aim
                        to answer the core business question: how to increase profits without increasing regular costs .
                        To achieve this, we remain open to collaboration and communication. Meanwhile, you can already
                        take advantage of our existing open services, where we establish a daily agenda for colleagues
                        and partners – Contact Us .
                    </p>


                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="instagram-block">
                    <img src="{% static 'images/197b512fc169a7a.webp' %} "
                        class="about-image custom-border-radius-end img-fluid" alt="">

                    <!-- <div class="instagram-block-text">
                        <a href="https://instagram.com/" class="custom-btn btn">
                            <i class="bi-instagram"></i>
                            @Gotto
                        </a>
                    </div> -->
                </div>
            </div>

        </div>


    </div>
</section>

<section class="job-section section-padding">
    <div class="container">
        <div class="services-grid">

            <div class="card_service services-block-wrap">
                <h2>Handyman services</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/handyman_services.webp' %}" alt="Handyman services Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>
            <div class="card_service services-block-wrap">
                <h2>Cleaning</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/cleaning_service_block.webp' %}" alt="Cleaning Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>
            <div class="card_service services-block-wrap">
                <h2>Cleaning</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/cleaning_service_block.webp' %}" alt="Cleaning Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>
            <div class="card_service services-block-wrap">
                <h2>Cleaning</h2>
                <div class="image_card-container">
                    <img src="{% static 'images/cleaning_service_block.webp' %}" alt="Cleaning Image">
                    <div class="tags-overlay">
                        <div class="tags-scrollable">
                            <a href="#" class="tag_service">Concession</a>
                            <a href="#" class="tag_service">Corporate</a>
                            <a href="#" class="tag_service">Social Event</a>
                            <a href="#" class="tag_service">Drop-off</a>
                            <a href="#" class="tag_service">Buffet</a>
                            <a href="#" class="tag_service">Plated</a>
                            <a href="#" class="tag_service">Event Planning</a>
                            <a href="#" class="tag_service">Catering</a>
                            <a href="#" class="tag_service">Kitchen Setup</a>
                        </div>
                    </div>
                </div>
                <p class="watch-more">Watch more...</p>
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">

            <a class="page-link" href="{% url 'home:business_support' %}" aria-label="Previous">
                <span aria-hidden="true">all</span>
            </a>
        </ul>
    </nav>
</section>







{% endblock %}

{% block navbar_services_projects_link %}
<a class="nav-link dropdown-toggle" href="{% url 'home:personal_support' %}" id="navbarLightDropdownMenuLink"
    role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Services & Projects
</a>
{% endblock %}