{% extends "home/base.html" %}
{% load static %}

{% block extra_head %}
<link href="{% static 'css/settings.css' %}" rel="stylesheet">

{% endblock %}




{% block content %}

    <div class="settings-container_stngs">
        <!-- Header -->
        <div class="settings-header_stngs">
            <div class="settings-header-icon_stngs">🐼</div>
            <div class="settings-header-title_stngs">Settings</div>
        </div>

        <!-- Main content area -->
        <div class="settings-main_stngs">
            <!-- Left navigation menu -->
            <div class="settings-nav_stngs">
                <a href="#" class="nav-item_stngs active" data-section="profile">Account preferences</a>
                <a href="#" class="nav-item_stngs" data-section="account">Sign in & security</a>
            </div>

            <!-- Right content area -->
            <div class="settings-content_stngs">
                <!-- Profile information section -->
                <div class="settings-section_stngs" id="profile-section">
                    <h5 class="section-title_stngs">Profile information</h5>
                    <div class="section-item_stngs">
                        <a href="#" class="item-link_stngs" id="nameLegalLocationTrigger">Name, Legal, location</a>
                        <span class="arrow_stngs">></span>
                    </div>
                    <div class="section-item_stngs">
                        <a href="#" class="item-link_stngs">Profile photo</a>
                        <span class="arrow_stngs">></span>
                    </div>
                </div>

                <!-- Account access section -->
                <div class="settings-section_stngs hidden_stngs" id="account-section">
                    <h5 class="section-title_stngs">Account access</h5>
                    <div class="section-item_stngs">
                        <a href="#" class="item-link_stngs">Email address</a>
                        <span class="email-mask_stngs">{{ masked_email }}</span>
                        <span class="arrow_stngs">></span>
                    </div>
                    <div class="section-item_stngs">
                        <a href="#" class="item-link_stngs" id="phoneTrigger" data-has-phone="{% if user.phone_number %}true{% else %}false{% endif %}">Phone number</a>
                        {% if masked_phone %}
                            <span class="phone-mask_stngs">{{ masked_phone }}</span>
                        {% endif %}
                        <span class="arrow_stngs">></span>
                    </div>
                    <div class="section-item_stngs">
                        <a href="#" class="item-link_stngs">Change password</a>
                        <span class="arrow_stngs">></span>
                    </div>
                    <div class="section-item_stngs">
                        <a href="#" class="item-link_stngs delete-account_stngs">Delete account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Name, Legal, location -->
    <div id="nameLegalLocationModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Name, Legal, location</h3>
                <span class="close_stngs" data-modal="nameLegalLocationModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <form id="nameLegalLocationForm">
                    {% csrf_token %}
                    
                    <!-- Personal Information -->
                    <div class="form-section_stngs">
                        <h4>Personal Information</h4>
                        
                        <div class="form-group_stngs">
                            <label for="firstName">First name*</label>
                            <input type="text" id="firstName" name="first_name" value="{{ user.first_name }}" required>
                        </div>
                        
                        <div class="form-group_stngs">
                            <label for="lastName">Last name*</label>
                            <input type="text" id="lastName" name="last_name" value="{{ user.last_name }}" required>
                        </div>
                    </div>
                    
                    <!-- Business Information -->
                    <div class="form-section_stngs">
                        <h4>Business Information</h4>
                        
                        <div class="form-group_stngs checkbox-group_stngs">
                            <label class="checkbox-label_stngs">
                                <input type="checkbox" id="selfEmployed" name="self_employed" {% if user.utr %}checked{% endif %}>
                                <span class="checkmark_stngs"></span>
                                I am self employed (can provide services)
                            </label>
                        </div>
                        
                        <div class="form-group_stngs conditional-field_stngs" id="utrField" {% if user.utr %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            <label for="utr">UTR (Unique Taxpayer Reference)*</label>
                            <input type="text" id="utr" name="utr" value="{{ user.utr }}" pattern="[0-9]{10}" maxlength="10" placeholder="10-digit UTR number">
                            <p class="field-hint_stngs">Enter your 10-digit Unique Taxpayer Reference number</p>
                        </div>
                        
                        <div class="form-group_stngs checkbox-group_stngs">
                            <label class="checkbox-label_stngs">
                                <input type="checkbox" id="hasCompany" name="has_company" {% if user.company_name or user.company_number %}checked{% endif %}>
                                <span class="checkmark_stngs"></span>
                                I have a company (can provide and order services)
                            </label>
                        </div>
                        
                        <div class="form-group_stngs conditional-field_stngs" id="companyFields" {% if user.company_name or user.company_number %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            <div class="form-group_stngs">
                                <label for="companyNumber">Company Number</label>
                                <input type="text" id="companyNumber" name="company_number" value="{{ user.company_number }}" maxlength="8" placeholder="8-digit company number">
                                <p class="field-hint_stngs">Enter your 8-digit UK company registration number</p>
                            </div>
                            
                            <div class="form-group_stngs">
                                <label for="companyName">Company Name</label>
                                <input type="text" id="companyName" name="company_name" value="{{ user.company_name }}" placeholder="Your company name">
                            </div>
                        </div>
                        
                        <div class="form-group_stngs checkbox-group_stngs">
                            <label class="checkbox-label_stngs">
                                <input type="checkbox" id="hasWebsite" name="has_website" {% if user.website %}checked{% endif %}>
                                <span class="checkmark_stngs"></span>
                                I have a website
                            </label>
                        </div>
                        
                        <div class="form-group_stngs conditional-field_stngs" id="websiteField" {% if user.website %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            <label for="website">Website</label>
                            <input type="url" id="website" name="website" value="{{ user.website }}" placeholder="https://your-website.com">
                            <p class="field-hint_stngs">Enter your website URL (including http:// or https://)</p>
                        </div>
                    </div>
                    
                    <!-- Location Information -->
                    <div class="form-section_stngs">
                        <h4>Location</h4>
                        
                        <div class="form-group_stngs">
                            <label for="country">Country/Region</label>
                            <select id="country" name="country" class="form-select_stngs">
                                <option value="">Select a country</option>
                                <option value="GB" {% if user.country.code == 'GB' %}selected{% endif %}>United Kingdom</option>
                                <option value="US" {% if user.country.code == 'US' %}selected{% endif %}>United States</option>
                                <option value="CA" {% if user.country.code == 'CA' %}selected{% endif %}>Canada</option>
                                <option value="AU" {% if user.country.code == 'AU' %}selected{% endif %}>Australia</option>
                                <option value="DE" {% if user.country.code == 'DE' %}selected{% endif %}>Germany</option>
                                <option value="FR" {% if user.country.code == 'FR' %}selected{% endif %}>France</option>
                                <option value="IT" {% if user.country.code == 'IT' %}selected{% endif %}>Italy</option>
                                <option value="ES" {% if user.country.code == 'ES' %}selected{% endif %}>Spain</option>
                                <option value="NL" {% if user.country.code == 'NL' %}selected{% endif %}>Netherlands</option>
                                <option value="BE" {% if user.country.code == 'BE' %}selected{% endif %}>Belgium</option>
                                <option value="IE" {% if user.country.code == 'IE' %}selected{% endif %}>Ireland</option>
                                <option value="CH" {% if user.country.code == 'CH' %}selected{% endif %}>Switzerland</option>
                                <option value="AT" {% if user.country.code == 'AT' %}selected{% endif %}>Austria</option>
                                <option value="SE" {% if user.country.code == 'SE' %}selected{% endif %}>Sweden</option>
                                <option value="NO" {% if user.country.code == 'NO' %}selected{% endif %}>Norway</option>
                                <option value="DK" {% if user.country.code == 'DK' %}selected{% endif %}>Denmark</option>
                                <option value="FI" {% if user.country.code == 'FI' %}selected{% endif %}>Finland</option>
                                <option value="PL" {% if user.country.code == 'PL' %}selected{% endif %}>Poland</option>
                                <option value="CZ" {% if user.country.code == 'CZ' %}selected{% endif %}>Czech Republic</option>
                                <option value="HU" {% if user.country.code == 'HU' %}selected{% endif %}>Hungary</option>
                                <option value="RO" {% if user.country.code == 'RO' %}selected{% endif %}>Romania</option>
                                <option value="BG" {% if user.country.code == 'BG' %}selected{% endif %}>Bulgaria</option>
                                <option value="HR" {% if user.country.code == 'HR' %}selected{% endif %}>Croatia</option>
                                <option value="SI" {% if user.country.code == 'SI' %}selected{% endif %}>Slovenia</option>
                                <option value="SK" {% if user.country.code == 'SK' %}selected{% endif %}>Slovakia</option>
                                <option value="LT" {% if user.country.code == 'LT' %}selected{% endif %}>Lithuania</option>
                                <option value="LV" {% if user.country.code == 'LV' %}selected{% endif %}>Latvia</option>
                                <option value="EE" {% if user.country.code == 'EE' %}selected{% endif %}>Estonia</option>
                                <option value="MT" {% if user.country.code == 'MT' %}selected{% endif %}>Malta</option>
                                <option value="CY" {% if user.country.code == 'CY' %}selected{% endif %}>Cyprus</option>
                                <option value="LU" {% if user.country.code == 'LU' %}selected{% endif %}>Luxembourg</option>
                                <option value="PT" {% if user.country.code == 'PT' %}selected{% endif %}>Portugal</option>
                                <option value="GR" {% if user.country.code == 'GR' %}selected{% endif %}>Greece</option>
                            </select>
                        </div>
                        
                        <div class="form-group_stngs">
                            <label for="postalCode">Postal code</label>
                            <input type="text" id="postalCode" name="postal_code" value="{{ user.postal_code }}" placeholder="Enter your postal code">
                        </div>
                        
                        <div class="form-group_stngs">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" value="{{ user.city }}" placeholder="Enter your city">
                        </div>
                    </div>
                    
                    <div class="form-actions_stngs">
                        <button type="button" class="cancel-btn_stngs" data-modal="nameLegalLocationModal">Cancel</button>
                        <button type="submit" class="save-btn_stngs">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Profile Photo -->
    <div id="profilePhotoModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Profile Photo</h3>
                <span class="close_stngs" data-modal="profilePhotoModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <div class="photo-section_stngs">
                    <div class="current-photo_stngs">
                        {% if user_avatar_url %}
                            <img id="currentPhoto" src="{{ user_avatar_url }}" alt="Current profile photo" style="max-width: 100%; border-radius: 8px;">
                            <div class="photo-placeholder_stngs" id="photoPlaceholder" style="display: none;">
                                <div class="photo-icon_stngs">👤</div>
                                <p>No photo uploaded</p>
                            </div>
                        {% else %}
                            <div class="photo-placeholder_stngs" id="photoPlaceholder">
                                <div class="photo-icon_stngs">👤</div>
                                <p>No photo uploaded</p>
                            </div>
                            <img id="currentPhoto" src="" alt="Current profile photo" style="display: none; max-width: 100%; border-radius: 8px;">
                        {% endif %}
                    </div>
                    
                    <div class="photo-actions_stngs">
                        <div class="upload-section_stngs">
                            <label for="photoUpload" class="upload-btn_stngs">
                                <span class="upload-icon_stngs">📁</span>
                                Upload new photo
                            </label>
                            <input type="file" id="photoUpload" accept="image/*" style="display: none;">
                            <p class="upload-hint_stngs">JPG, PNG or GIF. Max 5MB.</p>
                        </div>
                        
                        <div class="delete-section_stngs" id="deleteSection" {% if not user_avatar_url %}style="display: none;"{% endif %}>
                            <button type="button" class="delete-btn_stngs" id="deletePhotoBtn">
                                <span class="delete-icon_stngs">🗑️</span>
                                Delete photo
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="form-actions_stngs">
                    <button type="button" class="cancel-btn_stngs" data-modal="profilePhotoModal">Cancel</button>
                    <button type="button" class="save-btn_stngs" id="savePhotoBtn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Email Address -->
    <div id="emailModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Change Email Address</h3>
                <span class="close_stngs" data-modal="emailModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <form id="emailForm">
                    <div class="form-group_stngs">
                        <label for="currentEmail">Current Email Address</label>
                        <input type="email" id="currentEmail" name="currentEmail" placeholder="Enter your current email address" required>
                        <p class="field-hint_stngs">Please enter your current email address to verify your identity</p>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="newEmail">New Email Address</label>
                        <input type="email" id="newEmail" name="newEmail" placeholder="Enter your new email address" required>
                        <p class="field-hint_stngs">We'll send a verification link to your new email address</p>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="confirmEmail">Confirm New Email Address</label>
                        <input type="email" id="confirmEmail" name="confirmEmail" placeholder="Re-enter your new email address" required>
                        <p class="field-hint_stngs">Please re-enter your new email address to confirm</p>
                    </div>
                    
                    <div class="form-actions_stngs">
                        <button type="button" class="cancel-btn_stngs" data-modal="emailModal">Cancel</button>
                        <button type="submit" class="save-btn_stngs">Update Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Phone Number Change (when phone exists) -->
    <div id="phoneModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Change Phone Number</h3>
                <span class="close_stngs" data-modal="phoneModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <form id="phoneForm">
                    <div class="form-group_stngs">
                        <label for="currentPhone">Current Phone Number</label>
                        <input type="tel" id="currentPhone" name="currentPhone" placeholder="Enter your current phone number" required>
                        <p class="field-hint_stngs">Please enter your current phone number to verify your identity</p>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="newPhone">New Phone Number</label>
                        <input type="tel" id="newPhone" name="newPhone" placeholder="Enter your new phone number" required>
                        <p class="field-hint_stngs">Enter your new phone number to update your profile</p>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="confirmPhone">Confirm New Phone Number</label>
                        <input type="tel" id="confirmPhone" name="confirmPhone" placeholder="Re-enter your new phone number" required>
                        <p class="field-hint_stngs">Please re-enter your new phone number to confirm</p>
                    </div>
                    
                    <div class="form-actions_stngs">
                        <button type="button" class="cancel-btn_stngs" data-modal="phoneModal">Cancel</button>
                        <button type="submit" class="save-btn_stngs">Update Phone Number</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Add Phone Number (when phone doesn't exist) -->
    <div id="addPhoneModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Add Phone Number</h3>
                <span class="close_stngs" data-modal="addPhoneModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <form id="addPhoneForm">
                    <div class="form-group_stngs">
                        <label for="addPhoneNumber">Phone Number</label>
                        <input type="tel" id="addPhoneNumber" name="phone_number" placeholder="Enter your phone number" required>
                        <p class="field-hint_stngs">Enter your phone number to add it to your profile</p>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="confirmAddPhone">Confirm Phone Number</label>
                        <input type="tel" id="confirmAddPhone" name="confirm_phone" placeholder="Re-enter your phone number" required>
                        <p class="field-hint_stngs">Please re-enter your phone number to confirm</p>
                    </div>
                    
                    <div class="form-actions_stngs">
                        <button type="button" class="cancel-btn_stngs" data-modal="addPhoneModal">Cancel</button>
                        <button type="submit" class="save-btn_stngs">Add Phone Number</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Change Password -->
    <div id="passwordModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Change Password</h3>
                <span class="close_stngs" data-modal="passwordModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <form id="passwordForm">
                    <div class="form-group_stngs">
                        <label for="currentPassword">Current Password</label>
                        <div class="password-input-container_stngs">
                            <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter your current password" required>
                            <button type="button" class="toggle-password_stngs" data-target="currentPassword">👁️</button>
                        </div>
                        <p class="field-hint_stngs">Please enter your current password to verify your identity</p>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="newPassword">New Password</label>
                        <div class="password-input-container_stngs">
                            <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
                            <button type="button" class="toggle-password_stngs" data-target="newPassword">👁️</button>
                        </div>
                        <p class="field-hint_stngs">Password must be at least 8 characters long and contain uppercase, lowercase, number, and special character</p>
                        <div class="password-strength_stngs" id="passwordStrength">
                            <div class="strength-bar_stngs">
                                <div class="strength-fill_stngs" id="strengthFill"></div>
                            </div>
                            <span class="strength-text_stngs" id="strengthText">Weak</span>
                        </div>
                    </div>
                    
                    <div class="form-group_stngs">
                        <label for="confirmPassword">Confirm New Password</label>
                        <div class="password-input-container_stngs">
                            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your new password" required>
                            <button type="button" class="toggle-password_stngs" data-target="confirmPassword">👁️</button>
                        </div>
                        <p class="field-hint_stngs">Please re-enter your new password to confirm</p>
                    </div>
                    
                    <div class="form-actions_stngs">
                        <button type="button" class="cancel-btn_stngs" data-modal="passwordModal">Cancel</button>
                        <button type="submit" class="save-btn_stngs">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup Modal for Delete Account -->
    <div id="deleteAccountModal" class="modal_stngs">
        <div class="modal-content_stngs">
            <div class="modal-header_stngs">
                <h3>Delete Account</h3>
                <span class="close_stngs" data-modal="deleteAccountModal">&times;</span>
            </div>
            <div class="modal-body_stngs">
                <div class="warning-message_stngs">
                    <p><strong>⚠️ Warning:</strong> This action cannot be undone. All your data will be permanently deleted.</p>
                    <p>Please enter your password to confirm account deletion.</p>
                </div>
                <form id="deleteAccountForm">
                    {% csrf_token %}
                    <div class="form-group_stngs">
                        <label for="deletePassword">Password</label>
                        <div class="password-input-container_stngs">
                            <input type="password" id="deletePassword" name="password" placeholder="Enter your password" required>
                            <button type="button" class="toggle-password_stngs" data-target="deletePassword">👁️</button>
                        </div>
                        <p class="field-hint_stngs">Enter your password to confirm account deletion</p>
                    </div>
                    
                    <div class="form-actions_stngs">
                        <button type="button" class="cancel-btn_stngs" data-modal="deleteAccountModal">Cancel</button>
                        <button type="submit" class="delete-btn_stngs">Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block extra_js %}

<script src="{% static 'js/settings_profile.js' %}"></script>

{% endblock %}