{% extends "home/base.html" %}
{% load static %}

{% comment %} http://localhost:8000/blog/about/ {% endcomment %}

{% block content %}
<header class="site-header">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h1 class="text-white">task-tracker</h1>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Personal support</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</header>




<section class="job-section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-12 col-12">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="job-thumb-box_article job-thumb-box_article">
                        <div class="job-image-box-wrap">


                            <div class="job-image-box-wrap-info d-flex align-items-center">
                                <p class="mb-0">
                                    <a href="job-listings.html" class="badge badge-level">Internship</a>
                                </p>

                                <p class="mb-0">
                                    <a href="job-listings.html" class="badge">Freelance</a>
                                </p>
                            </div>
                        </div>

                        <div class="job-body">
                            <h4 class="job-title">
                                <a href="job-details.html" class="job-title-link">Technical Lead Latin professor at
                                    Hampden-Sydney College.</a>

                                <a href="#" class="bi-bookmark ms-auto me-2">
                                </a>

                                <a href="#" class="bi-heart">
                                </a>
                            </h4>



                            <div class="d-flex align-items-center">
                                <strong class="col-lg-12">Today at 18:00</strong>

                            </div>

                            <div class="d-flex align-items-center">

                                <p class="job-location col-lg-12">
                                    Latin professor at Hampden-Sydney
                                </p>
                            </div>

                            <div class="d-flex align-items-right border-top pt-3">
                                <a href="#" class="custom-link smoothscroll">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="job-thumb-box_article job-thumb-box_article">
                        <div class="job-image-box-wrap">


                            <div class="job-image-box-wrap-info d-flex align-items-center">
                                <p class="mb-0">
                                    <a href="job-listings.html" class="badge badge-level">Internship</a>
                                </p>

                                <p class="mb-0">
                                    <a href="job-listings.html" class="badge">Freelance</a>
                                </p>
                            </div>
                        </div>

                        <div class="job-body">
                            <h4 class="job-title">
                                <a href="job-details.html" class="job-title-link">Technical Lead Latin professor at
                                    Hampden-Sydney College.</a>

                                <a href="#" class="bi-bookmark ms-auto me-2">
                                </a>

                                <a href="#" class="bi-heart">
                                </a>
                            </h4>



                            <div class="d-flex align-items-center">
                                <strong class="col-lg-12">Today at 18:00</strong>

                            </div>

                            <div class="d-flex align-items-center">

                                <p class="job-location col-lg-12">
                                    Latin professor at Hampden-Sydney
                                </p>
                            </div>

                            <div class="d-flex align-items-right border-top pt-3">
                                <a href="#" class="custom-link smoothscroll">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>






{% endblock %}

{% block navbar_services_projects_link %}
<a class="nav-link dropdown-toggle" href="{% url 'home:business_support' %}" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Services & Projects
</a>
{% endblock %}