Проект запущен в docker и контекст всех сообщений осуществляется исключительно на английском языке.
При клике вне окна любого попапа не должно закрывать этого попапа. 
Никаких нахуй тестовых файлов
Если нужно что то протестировать в js то сообщи что нужно ввести после команды Allow pasting 
