asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
defusedxml==0.7.1
diff-match-patch==20241021
Django==5.1
django-allauth==65.9.0
django-ckeditor==6.7.0
django-ckeditor-5==0.2.17
django-countries==7.6.1
django-environ==0.11.2
django-import-export==2.7.0
django-js-asset==3.1.2
et_xmlfile==2.0.0
idna==3.10
oauthlib==3.3.1
odfpy==1.4.1
openpyxl==3.1.5
Pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
sqlparse==0.5.3
tablib==3.8.0
urllib3==2.5.0
xlrd==2.0.2
xlwt==1.3.0

## API, фільтри, CORS
djangorestframework==3.15.2
django-filter==24.3
django-cors-headers==4.4.0

## Дати, рецурентність, iCal
python-dateutil==2.9.0.post0
pendulum==3.0.0
django-recurrence==1.11.1
icalendar==5.0.12

## Реалтайм (WebSockets)
channels==4.1.0
channels-redis==4.2.0

## Бекграунд задачі/нагадування
celery==5.4.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
redis==5.0.8

## Таксономія/теги, документація API
django-taggit==6.1.0
drf-spectacular==0.27.2