{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <title>{{ title }}</title>
  <link rel="apple-touch-icon" href="{% static 'adminpanel_userside/images/apple-touch-icon.png' %}">
  <link rel="shortcut icon" href="{% static 'adminpanel_userside/images/favicon.ico' %}"> 
  <!-- Stylesheets -->
 
  <link rel="stylesheet" href="{% static 'adminpanel_userside/css/bootstrap.min.css' %}"> {% comment %} Основной стиль страницы base {% endcomment %}
  <link rel="stylesheet" href="{% static '/adminpanel_userside/css/bootstrap-extend.min.css' %}"> {% comment %} Основной стиль страницы base {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/css/site.min.css' %}">   {% comment %} Основной стиль страницы base {% endcomment %}
  <!-- Plugins -->
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/animsition/animsition.css' %}"> {% comment %} Загружает - но пропало внутри. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/asscrollable/asScrollable.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/switchery/switchery.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/intro-js/introjs.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/slidepanel/slidePanel.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/flag-icon-css/flag-icon.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/waves/waves.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/chartist-js/chartist.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/jvectormap/jquery-jvectormap.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}

  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/jsgrid/jsgrid.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/bootstrap-datepicker/bootstrap-datepicker.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminpanel_userside/css/bootstrap-editable.css' %}"> 


  <!-- Fonts -->  
   <link rel="stylesheet" href="{% static 'adminpanel_userside/fonts/material-design/material-design.min.css' %}"> {% comment %} Иконки для base html - material design. {% endcomment %}
   <link rel="stylesheet" href="{% static 'adminpanel_userside/fonts/brand-icons/brand-icons.min.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
   <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic&subset=latin,cyrillic'> 
   <link rel="stylesheet" href="{% static 'adminpanel_userside/css/dashboard/v1.css' %}"> {% comment %} Нет изменений. Иследовать {% endcomment %}
   <link rel="stylesheet" href="{% static 'adminpanel_userside/vendor/footable/footable.min.css' %}">
   <link rel="stylesheet" href="{% static 'adminpanel_userside/css/site.css' %}">   {% comment %} Основной стиль страницы base {% endcomment %}
   {% block extra_styles %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="{% static 'adminpanel_userside/vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="{% static 'adminpanel_userside/vendor/media-match/media.match.min.js' %}"></script> {% comment %} Нет изменений. Иследовать {% endcomment %}
    <script src="{% static 'adminpanel_userside/vendor/respond/respond.min.js' %}"></script> {% comment %} Нет изменений. Иследовать {% endcomment %}
    <![endif]-->
  <!-- Scripts -->

  <script src="{% static 'adminpanel_userside/vendor/modernizr/modernizr.js' %}"></script> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <script src="{% static 'adminpanel_userside/vendor/breakpoints/breakpoints.js' %}"></script> {% comment %} Нет изменений. Иследовать {% endcomment %}
  <script>
  Breakpoints();
  </script>
</head>
<body class="site-navbar-small dashboard layout-boxed">
  <!--[if lt IE 8]>
        <p class="browserupgrade">Вы You are using <strong>outdated</strong> браузер. Renew your browser.</p>
    <![endif]-->
    {% include "adminpanel_userside/navigation.html" %}
  <!-- Page -->
  <div class="page animsition">
    <div class="page-content container-fluid">
            {% block content %} {% endblock %}
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2025 <a href="#" target="_blank">Offerland_</a></div>
    <div class="site-footer-right">
      All best <i class="red-600 icon md-favorite"></i> 
    </div>
  </footer>
  <!-- Core  -->
  <script src="{% static 'adminpanel_userside/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/animsition/animsition.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/waves/waves.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'adminpanel_userside/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/jsgrid/jsgrid.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/peity/jquery.peity.min.js' %}"></script>
  <script src="{% static 'adminpanel_userside/vendor/footable/footable.all.min.js' %}"></script>

  <!-- Scripts -->
  <script src="{% static 'adminpanel_userside/js/components/matchheight.js' %}"></script> {% comment %}  для выравнивания высоты блоков {% endcomment %}
  <script src="{% static 'adminpanel_userside/js/components/jvectormap.js' %}"></script> {% comment %}  для создания интерактивных векторных карт.{% endcomment %}
  <script src="{% static 'adminpanel_userside/js/components/peity.js' %}"></script>   {% comment %} для создания простых и легких графиков {% endcomment %}
  <script src="{% static 'adminpanel_userside/js/dashboard/v1.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/core.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/site.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/sections/menu.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/sections/menubar.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/sections/sidebar.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/configs/config-colors.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/configs/config-tour.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/components/asscrollable.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/components/animsition.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/components/slidepanel.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/components/switchery.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/components/tabs.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/tables/footable.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/bootstrap-editable.js' %}"></script>
  <script src="{% static 'adminpanel_userside/js/app.js' %}"></script>
  {% block extrajs_styles %} {% endblock %}
 

</html>
