{% extends "adminpanel_userside/base_login.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'adminpanel_userside/css/pages/login-v3.css' %}">
{% endblock %}

{% block content %}
<body class="page-login-v3 layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">Вы используюте <strong>устаревший</strong> браузер. Обновите <a href="http://browsehappy.com/">Ваш браузер</a> для лучшей работы сайта.</p>
    <![endif]-->
  <!-- Page -->
{% comment %} adminpanel_userside/templates/adminpanel_userside/login_form.html {% endcomment %}
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
    data-animsition-out="fade-out">>
      <div class="page-content vertical-align-middle">
        <div class="panel">
          <div class="panel-body">
            <div class="brand">

            </div>
            <form method="post" action="{% url 'adminpanel_userside:login' %}" autocomplete="off">
              {% csrf_token %}
              <div class="form-group form-material floating">
                <input type="email" class="form-control" name="username" />
                <label class="floating-label">Email</label>
              </div>
              <div class="form-group form-material floating">
                <input type="password" class="form-control" name="password" />
                <label class="floating-label">Password</label>
              </div>
              <div class="form-group clearfix">
                <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                  <input type="checkbox" id="inputCheckbox" name="remember">
                  <label for="inputCheckbox">Remember me</label>
                </div>
                <a class="pull-right" href="forgot-password.html">Forgot password?</a>
              </div>
              <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Sign in</button>
            </form>
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
            <div class="social">
              <a class="btn btn-icon btn-round social-twitter" href="javascript:void(0)">
                <i class="icon bd-apple" aria-hidden="true"></i>
              </a>
              <a class="btn btn-icon btn-round social-facebook" href="javascript:void(0)">
                <i class="icon bd-linkedin" aria-hidden="true"></i>
              </a>
              <a class="btn btn-icon btn-round social-google-plus" href="javascript:void(0)">
                <i class="icon bd-google-plus" aria-hidden="true"></i>
              </a>
            </div>
            <p class="login_no_account">Still no account? Please go to <a href="{% url 'adminpanel_userside:register' %}">Sign up</a></p>
          </div>
        </div>

      </div>
    </div>



{% endblock %}