{% extends "adminpanel_userside/base_login.html" %}
{% load static %}
{% block title %}Register{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'adminpanel_userside/css/pages/register-v3.css' %}">

{% endblock %}



{% block content %} 
<body class="page-register-v3 layout-full">
  <!--[if lt IE 8]>
    <p class="browserupgrade">
      Вы используете <strong>устаревший</strong> браузер. Обновите 
      <a href="http://browsehappy.com/">Ваш браузер</a> для лучшей работы сайта.
    </p>
  <![endif]-->
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="{% static 'adminpanel_userside/images/logo-blue.png' %}" alt="...">
            <h2 class="brand-text font-size-18">Offerland</h2>
          </div>
          <form method="post" action="{% url 'adminpanel_userside:register' %}" autocomplete="off">
            {% csrf_token %}
            <!-- Поле для username -->
            <div class="form-group form-material floating">
              <input type="text" class="form-control" name="username" required />
              <label class="floating-label">Username</label>
            </div>
            <!-- Поле для First name -->
            <div class="form-group form-material floating">
              <input type="text" class="form-control" name="first_name" required />
              <label class="floating-label">First name</label>
            </div>
            <!-- Поле для Last name -->
            <div class="form-group form-material floating">
              <input type="text" class="form-control" name="last_name" required />
              <label class="floating-label">Last name</label>
            </div>
            <!-- Поле для email -->
            <div class="form-group form-material floating">
              <input type="email" class="form-control" name="email" required />
              <label class="floating-label">e-mail</label>
            </div>
            <!-- Поля для пароля -->
            <div class="form-group form-material floating">
              <input type="password" class="form-control" name="password" required />
              <label class="floating-label">Password</label>
            </div>
            <div class="form-group form-material floating">
              <input type="password" class="form-control" name="PasswordCheck" required />
              <label class="floating-label">Repeat password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Create</button>
          </form>
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
          <p>Already have an account? <a href="{% url 'adminpanel_userside:login' %}">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

  {% endblock %}





