* {
    box-sizing: border-box;
    outline: none;
    line-height: normal;
}

:root {
    --color-1: #18191b;
    --color-2: #BCBFC5;
    --color-3: #828385;
    --color-4: #242627;
    --color-5: #232426;
    --color-6: #4b3434;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
        /* Если не получилось, загрузит woff2 */
        url("/fonts/roboto/roboto.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("/fonts/roboto/roboto.woff") format("woff");
}

@font-face {
    font-family: "Robotoblack";
    font-style: normal;
    font-weight: 400;
    src: local("Robotoblack"),
        url("/fonts/roboto/Robotoblack.woff2") format("woff2"),
        url("/fonts/roboto/Robotoblack.woff") format("woff");
}

@font-face {
    font-family: "Robotoblackitalic";
    font-style: normal;
    font-weight: 400;
    src: local("Robotoblackitalic"),
        url("/fonts/roboto/Robotoblackitalic.woff2") format("woff2"),
        url("/fonts/roboto/Robotoblackitalic.woff") format("woff");
}

@font-face {
    font-family: "Robotobold";
    font-style: normal;
    font-weight: 400;
    src: local("Robotobold"),
        url("/fonts/roboto/Robotobold.woff2") format("woff2"),
        url("/fonts/roboto/Robotobold.woff") format("woff");
}

@font-face {
    font-family: "Robotobolditalic";
    font-style: normal;
    font-weight: 400;
    src: local("Robotobolditalic"),
        url("/fonts/roboto/Robotobolditalic.woff2") format("woff2"),
        url("/fonts/roboto/Robotobolditalic.woff") format("woff");
}

@font-face {
    font-family: "Robotoitalic";
    font-style: normal;
    font-weight: 400;
    src: local("Robotoitalic"),
        url("/fonts/roboto/Robotoitalic.woff2") format("woff2"),
        url("/fonts/roboto/Robotoitalic.woff") format("woff");
}

@font-face {
    font-family: "Robotolight";
    font-style: normal;
    font-weight: 400;
    src: local("Robotolight"),
        url("/fonts/roboto/Robotolight.woff2") format("woff2"),
        url("/fonts/roboto/Robotolight.woff") format("woff");
}


@font-face {
    font-family: "Robotolightitalic";
    font-style: normal;
    font-weight: 400;
    src: local("Robotolightitalic"),
        url("/fonts/roboto/Robotolightitalic.woff2") format("woff2"),
        url("/fonts/roboto/Robotolightitalic.woff") format("woff");
}


@font-face {
    font-family: "Robotomedium";
    font-style: normal;
    font-weight: 400;
    src: local("Robotomedium"),
        url("/fonts/roboto/Robotomedium.woff2") format("woff2"),
        url("/fonts/roboto/Robotomedium.woff") format("woff");
}



@font-face {
    font-family: "Robotomediumitalic";
    font-style: normal;
    font-weight: 400;
    src: local("Robotomediumitalic"),
        url("/fonts/roboto/Robotomediumitalic.woff2") format("woff2"),
        url("/fonts/roboto/Robotomediumitalic.woff") format("woff");
}

@font-face {
    font-family: "Robotothin";
    font-style: normal;
    font-weight: 400;
    src: local("Robotothin"),
        url("/fonts/roboto/Robotothin.woff2") format("woff2"),
        url("/fonts/roboto/Robotothin.woff") format("woff");
}

@font-face {
    font-family: "Robotothinitalic";
    font-style: normal;
    font-weight: 400;
    src: local("Robotothinitalic"),
        url("/fonts/roboto/Robotothinitalic.woff2") format("woff2"),
        url("/fonts/roboto/Robotothinitalic.woff") format("woff");
}


body {
    font-family: "Roboto", "Arial", "sans-serif";
    scrollbar-width: thin;          /* "auto" или "thin" */
    scrollbar-color: #242627 #18191b;   /* цвет бегунка и зоны отслеживания */
    background-color: var(--color-1);
}




.header__inner {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #828385;
}

a:link {}

a:visited {}

a:focus {
    color: #0CCC1F;
}

a:hover {}

a:active {
    color: #0CCC1F;
}


.menu__list {
    display: flex;
    margin-top: 10px;
}

.logo__item {}

.menu_part_left_side {
    display: flex;
}

.menu {
    margin-left: 25px;
    font-size: 20px;
}

.menu__item a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.menu__item a img {
    margin-right: 5px;
    width: 25px;
}

.menu__item a span {
    margin-top: 3px;
}

.user__settings {
    display: flex;
    align-self: center;

}

.user__settings a {
    padding-left: 10px;

}

.language_button {

    background-color: #242627;
    color: #BCBFC5;
    border: 0;

}



.search_and_advertising {
    display: flex;
    justify-content: space-between;
}

.text-field__input {
    color: #18191b;
    width: 400px;
    font-size: 25px;
    padding: 5px 0 5px 10px;
    border: 0px;
    background: #828385;
    border-radius: 6px;
}

.search__button {
    padding: 5px 10px 5px 10px;
    font-size: 25px;
    border-radius: 6px;
    background: var(--color-5);
    color: #828385;
    border: 0px;
    margin-left: -10px;
}

.filter__control {
    margin-top: 8px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    display: flex;
    background: var(--color-3);
    border-radius: 6px;
}

.filter__control img {
    margin: 0 5px 0 5px;
    width: 25px;
}

.adversting__section {
    float: right;
    background: var(--color-6);
    border-radius: 6px;
    width: 500px;
    font-size: 2rem;
    text-shadow: 1px 1px 1px gray,
        2px 2px 1px gray;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    padding: 0;
}

.adversting__section {
    padding: 0;
    margin: 0;
}


hr {
    margin-top: 30px;
    color: #828385;

}


.space_of_tasks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* short_description_of_tasks */
.short_description_of_tasks {
    width: 48vw;
}

.short_description_element {
    display: flex;
    border: 2px solid var(--color-3);
    flex-direction: column;
    margin-top: 15px;
    background-color: #242627;
}

.short_description_element_actntime {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    font-size: 13px;
    color: #4b3434;
}

.short_description_element_actntime img {
    width: 15px;
}

.short_description_element__title {
    padding: 0 0 5px 15px;
    font-family: "Robotobold";

}

.short_description_element__context {
    padding: 0 15px 5px 15px;
    font-size: 15px;
}

.short_description_element__tags_and_price {
    display: flex;
    justify-content: space-between;
}


.short_description_element__tag_row {


}

.short_description_element__tag_row img {
    position: relative;
    height: 15px;
    padding-left: 15px;
}

.short_description_element__tag_row p {
    display: inline;
    color: #4b3434;
    padding: 0 15px 5px 5px;
}

.short_description_element__price {
    font-size: 20px;
    color: var(--color-3);
    margin-bottom: 15px;
}


.short_description_element__price img {
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
}

.short_description_element__price p {
    display: inline;
    padding-right: 15px;

}

.only_fool_description {
    justify-content: center;
    width: 50%;
}

.space_of_description {
    display: flex;
    justify-content:center;
}



.fool_description_element {
    width: 48%;
}

.fool_description_element__register_n_close {

    display: flex;
    justify-content: space-between;
}

.fool_description_element__container {
    padding: 15px;
    color: #828385;
}

.fool_description_element__date {
    float: right;
    font-size: 13px;
    color: #4b3434;
    text-align: right;
    padding-top: 15px;

}

.fool_description_element__container_button button {
    display: flex;
    align-items: center 
}


.fool_description_element__button {
    display: block;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #828385;
    color: #18191b;
    border: 0px;
}


.fool_description_element__container a img {
    width: 25px;
    padding-top: 15px;
    float: right;
}


.add_task {
    color: #1E1F21 ;
    float: right;
    background-color: #BCBFC5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    font-size: 35px;
    position: fixed;
}

.add_task span {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

/* Скролбар */



body::-webkit-scrollbar {
    width: 10px;               /* ширина всей полосы прокрутки */
  }
  
  body::-webkit-scrollbar-track {
    background: #18191b;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #242627;    /* цвет бегунка */
    /*   border-radius: 20px;    округлось бегунка */
    border: 1px solid #707070;  /* отступ вокруг бегунка */
  }


.container {
    padding: 25px;
}







/* Шрифты */
.font_h {
 font-size: 40px ;
 color: #BCBFC5;
}
.Robotothin {  font-family: "Robotothin";}

.Robotothinitalic {  font-family: "Robotothinitalic";}

.Robotolightitalic {  font-family: "Robotolightitalic";}

.Robotolight {  font-family: "Robotolight";}

.Roboto {  font-family: "Roboto";}

.Robotoitalic {  font-family: "Robotoitalic";}

.Robotomedium {  font-family: "Robotomedium";}

.Robotomediumitalic {  font-family: "Robotomediumitalic";}

.Robotoblack {  font-family: "Robotoblack";}

.Robotoblackitalic {  font-family: "Robotoblackitalic";}

.Robotobold {  font-family: "Robotobold";}

.Robotobolditalic {  font-family: "Robotobolditalic";}