{% comment %} Chat components and UI elements {% endcomment %}

<!-- Chat Messages Container -->
<div class="chat_messages_container" style="display: none;">
    <div class="cmc_search_container">
        <div class="cmc_search_text">Find person</div>
        <input class="cmc_search_input" type="text">
    </div>
    <div class="cmc_contacts_container">
        <div class="cmc_contacts_text">Chats</div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
        <div class="cmc_contact">
            <a href="#">
                <div class="cmc_circule_photo"></div>
                <span class="cmc_user_name">Mark Nelson</span>
                <span class="cmc_last_date">6/22/2025</span>
                <div class="cmc_send_message_button"></div>
            </a>
        </div>
    </div>
</div>

<!-- Chat Messages Overlay -->
<div class="overlay_cmc_messages" id="cmcMessagesOverlay" style="display:none;">
    <div class="cmc_messages_container">
        <button class="cmc_messages_left_top_button_back">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
            </svg>
        </button>
        <button class="cmc_messages_container_close_btn">×</button>
        <div class="cmc_messages_area">
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
            <div class="cmc_message_communication_container">
                <div class="cmc_message_text">Hello, how are you?</div>
                <span class="cmc_message_date">6/22/2025 10:00</span>
            </div>
            <div class="cmc_message cmc_message_sent">
                <div class="cmc_message_text">I am fine, thank you!</div>
                <span class="cmc_message_date">6/22/2025 10:01</span>
            </div>
        </div>
        <div class="cmc_message_bottom_container">
            <textarea name="cmc_message_for_send" id=""></textarea>
            <button class="cmc_message_send_button"></button>
            <button class="add_file"></button>
        </div>
    </div>
</div>
