{% load static %}
<div class="modal-overlay" style="display: none;">
    <div class="modal-form">
        <button class="modal_close_btn">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            </svg>
        </button>

        <form class="project-form" method="post" enctype="multipart/form-data"
            action="{% url 'services_and_projects:submit_form' %}">
            {% csrf_token %}
            <div class="form-group" id="form-group-type_of_task">
                <label for="publish-in">Will published in</label>
                <select id="publish-in" name="type_of_task" required>
                    <option value="0">-- Select type --</option>
                    {% for t in types %}
                    <option value="{{ t.id }}">{{ t.type_of_task_name }}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="form-group" id="form-group-title" style="display: none;">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group" id="form-group-description" style="display: none;">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>

            <div class="form-group" id="form-group-photos-link1" style="display: none;">
                <label for="photos-link" id="photos-label1" style="display: none;">Photos</label>
                <input type="text" id="photos-link" name="photos-link" placeholder="link to google drive"
                    style="margin-bottom:12px;">
            </div>

            <div class="form-group" id="form-group-photos-link2" style="display: none;">
                <label for="photos-link" id="photos-label2" style="display: none;">Photos</label>
                <div class="file-upload-area" id="photos-upload2">
                    <input type="file" id="photos2" name="photos" multiple accept="image/*">
                    <div class="drop-zone">
                        <p>Drop files here or click to upload</p>
                    </div>
                </div>
            </div>

            <div class="form-group" id="form-group-photos-link3" style="display: none;">
                <label for="photos-link" id="photos-labe3" style="display: none;">Photos</label>
                <input type="text" id="photos-link3" name="photos-link" placeholder="link to google drive"
                    style="margin-bottom:12px;">
                <div id="form-group-photos-link_or3"
                    style="text-align:center;font-weight:600;color:#282d3b;margin-bottom:8px;">or</div>
                <div id="form-group-photos-link_drop_file3" class="file-upload-area" id="photos-upload3">
                    <input type="file" id="photos3" name="photos" multiple accept="image/*">
                    <div class="drop-zone">
                        <p>Drop files here or click to upload</p>
                    </div>
                </div>
            </div>


            <div class="form-group" id="form-group-hashtags-input" style="display: none;">
                <label for="hashtags-input">Hashtags: <a href="#">Don't find hashtag?</a></label>
                <div id="hashtags-container" class="form-control hashtag-chip-container" tabindex="0"
                    data-all-tags='{{ all_tags|safe }}'>
                    <input type="text" id="hashtags-input" placeholder="Start typing tag..." autocomplete="off"
                        style="border: none; outline: none; flex: 1; min-width: 120px; background: transparent;">
                </div>
                <div id="hashtags-dropdown" class="hashtag-dropdown-menu"></div>
            </div>
            <input type="hidden" name="hashtags" id="hashtags-hidden">

            <div class="form-group" id="form-group-category" style="display: none;">
                <label for="category">Category</label>
                <select id="category" name="category" required>
                    <option value="">-- Select category --</option>
                    {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="form-group-service" style="display: none;">
                <label for="service">Service</label>
                <select id="service" name="service" required>
                    <option value="">-- Select service --</option>
                    {% for serv in services %}
                    <option value="{{ serv.id }}" data-category="{{ serv.category_name.id }}">{{ serv.service_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

 
             <div class="form-group" id="form-group-reserved-time" style="display: none;">
                 <label for="reserved-time">Reserved time on road:</label>
                 <input type="text" id="reserved-time" name="reserved_time" placeholder="e.g. 30 min">
             </div>
             <div class="form-group" id="form-group-start-location" style="display: none;">
                 <label for="start-location">Start location:</label>
                 <input type="text" id="start-location" name="start_location" placeholder="Enter start location">
             </div>
             
             <div class="form-group" id="form-group-cost-hour" style="display: none;">
                 <label for="cost-hour">Cost of one hour of work in £:</label>
                 <input type="number" id="cost-hour" name="cost_hour" placeholder="e.g. 100">
             </div>
             <div class="form-group" id="form-group-min-slot" style="display: none;">
                 <label for="min-slot">Minimum slot (minutes) :</label>
                 <input type="number" id="min-slot" name="min_slot" placeholder="e.g. 1 hour">
             </div>
            <div id="form-extend-toggle" class="form-extend-toggle" style="display:none;">
                <button type="button" class="extend-btn">
                    <span class="extend-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="36.130" height="27.194" viewBox="0 0 45.162 33.992">
                            <defs>
                                <filter id="arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24" x="0" y="0"
                                    width="45.162" height="33.992" filterUnits="userSpaceOnUse">
                                    <feOffset dy="3" input="SourceAlpha" />
                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                    <feFlood flood-opacity="0.161" />
                                    <feComposite operator="in" in2="blur" />
                                    <feComposite in="SourceGraphic" />
                                </filter>
                                <filter id="arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24-2" x="0" y="0"
                                    width="45.162" height="33.992" filterUnits="userSpaceOnUse">
                                    <feOffset dy="3" input="SourceAlpha" />
                                    <feGaussianBlur stdDeviation="3" result="blur-2" />
                                    <feFlood flood-opacity="0.161" result="color" />
                                    <feComposite operator="out" in="SourceGraphic" in2="blur-2" />
                                    <feComposite operator="in" in="color" />
                                    <feComposite operator="in" in2="SourceGraphic" />
                                </filter>
                            </defs>
                            <g data-type="innerShadowGroup">
                                <g transform="matrix(1, 0, 0, 1, 0, 0)"
                                    filter="url(#arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24)">
                                    <path id="arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24-3"
                                        data-name="arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24"
                                        d="M13.581,27.162,0,13.581,13.581,0l2.411,2.411L4.821,13.581l11.17,11.17Z"
                                        transform="translate(36.16 6) rotate(90)" />
                                </g>
                                <g transform="matrix(1, 0, 0, 1, 0, 0)"
                                    filter="url(#arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24-2)">
                                    <path id="arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24-4"
                                        data-name="arrow_back_ios_24dp_000000_FILL0_wght400_GRAD0_opsz24"
                                        d="M13.581,27.162,0,13.581,13.581,0l2.411,2.411L4.821,13.581l11.17,11.17Z"
                                        transform="translate(36.16 6) rotate(90)" fill="#fff" />
                                </g>
                            </g>
                        </svg>
                    </span>
                    <!-- <span>Extend</span> -->
                </button>
            </div>

                <div class="form-group" id="form-group-documents" style="display: none;">
                    <label for="documents">Documents</label>
                    <input type="url" id="documents" name="documents" placeholder="Enter document link">
                </div>

                <div class="form-group" id="form-group-performers" style="display: none;">
                    <label for="performers">Performer(s)</label>
                    <div class="performers-input-group">
                        <input type="text" id="performers" name="performers" placeholder="Add performer"
                            autocomplete="off">
                        <div class="performers-dropdown" id="performers-dropdown">
                            <div class="dropdown-item need-performer">Need a performer</div>
                        </div>
                    </div>
                    <div class="performers-list"></div>
                </div>
                <div id="form-group-date-time" class="form-row" style="display: none;">
                    <div class="form-group half">
                        <label for="date-start">Date and time start</label>
                        <input type="date" id="date-start" name="date_start">
                        <input type="time" id="time-start" name="time_start" style="margin-top:6px;">
                    </div>
                    <div class="form-group half">
                        <label for="date-end">Date and time end</label>
                        <input type="date" id="date-end" name="date_end">
                        <input type="time" id="time-end" name="time_end" style="margin-top:6px;">
                    </div>
                </div>

                <div class="form-group" id="form-group-status" style="display: none;">
                    <label for="status">Add status</label>
                    <select id="status" name="status">
                        <option value="">-- Select status --</option>
                        {% for status in statuses %}
                        <option value="{{ status.id }}">{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group" id="form-group-project-included" style="display: none;">
                    <label for="project-included">Project (task) included</label>
                    <select id="project-included" name="project-included">
                        <option value="">Empty</option>
                        {% for task in tasks %}
                        <option value="{{ task.id }}">{{ task.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group checkbox" id="form-group-private" style="display: none;">
                    <input type="checkbox" id="private" name="private">
                    <label for="private">Make private</label>
                </div>

                <div class="form-group checkbox" id="form-group-disclose-name-1" style="display: none;">
                    <input type="checkbox" id="disclose-name-1" name="disclose_name_1">
                    <label for="disclose-name-1">Disclose your name (company) when publishing</label>
                </div>

                <div class="form-group checkbox" id="form-group-hidden" style="display: none;">
                    <input type="checkbox" id="hidden" name="hidden">
                    <label for="hidden">Hidden (visible just for you)</label>
                </div>

                <div class="form-group checkbox" id="form-group-offline" style="display: none;">
                    <input type="checkbox" id="disclose-name" name="disclose_name">
                    <label for="disclose-name">offline</label>
                </div>

                <div class="form-group" id="form-group-post-code" style="display: none;">
                    <label for="post-code">Post code</label>
                    <input type="text" id="post-code" name="post_code" placeholder="post-code">
                </div>

                <div class="form-group" id="form-group-street_details" style="display: none;">
                    <label for="street_details">Street details</label>
                    <input type="text" id="street_details" name="street_details" placeholder="Street details">
                </div>


           

            <div class="form-actions" id="button-form-actions" style="display: none;">

                <button type="button" class="btn btn-secondary">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/form_for_all_task.js' %}"></script>