{% comment %} Navigation and menu components {% endcomment %}

<!-- Fixed Circle Menu -->
<div class="fixed_circle_menu">
    <button class="fixed_circle main">
        <svg xmlns="http://www.w3.org/2000/svg" width="60.531" height="60.531" viewBox="0 0 60.531 60.531">
            <path id="open_in_new_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M126.726-779.469a6.477,6.477,0,0,1-4.75-1.976,6.476,6.476,0,0,1-1.976-4.75v-47.08a6.476,6.476,0,0,1,1.976-4.75,6.477,6.477,0,0,1,4.75-1.976h23.54v6.726h-23.54v47.08h47.08v-23.54h6.726v23.54a6.476,6.476,0,0,1-1.976,4.75,6.476,6.476,0,0,1-4.75,1.976Zm15.805-17.823L137.823-802,169.1-833.274H156.991V-840h23.54v23.54h-6.726v-12.106Z"
                transform="translate(-120 840)" fill="#333a49" />
        </svg>
    </button>
    <button class="fixed_circle sub sub1">
        <svg xmlns="http://www.w3.org/2000/svg" width="65.49" height="62.215" viewBox="0 0 65.49 62.215">
            <path id="star_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M102.43-831.456l10.315-6.222,10.315,6.3-2.7-11.788,9.087-7.859-11.952-1.064-4.748-11.133L108-852.167,96.045-851.1l9.087,7.941Zm-9.905,13.671,5.321-23L80-856.26l23.576-2.047L112.745-880l9.169,21.694,23.576,2.047-17.846,15.472,5.321,23-20.22-12.2ZM112.745-846.436Z"
                transform="translate(-80 880)" fill="#333a49" />
        </svg>
    </button>
    <button class="fixed_circle sub sub2">
        <svg xmlns="http://www.w3.org/2000/svg" width="31.732" height="31.732" viewBox="0 0 31.732 31.732">
            <path id="add_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M213.6-741.867H200V-746.4h13.6V-760h4.533v13.6h13.6v4.533h-13.6v13.6H213.6Z"
                transform="translate(-200 760)" fill="#333a49" />
        </svg>
    </button>
    <button class="fixed_circle sub sub3">
        <svg width="20.4" height="20.4" viewBox="0 0 24 24" fill="none">
            <path d="M20 2H4C2.9 2 2 2.9 2 4V22L6 18H20C21.1 18 22 17.1 22 16V4C22 2.9 21.1 2 20 2Z" fill="#282D3B" />
        </svg>
    </button>
</div>

<!-- Navigation Menu -->
<div class="nav_menu">
    <button class="nav-arrow nav-arrow-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="21.82" height="37.062" viewBox="0 0 21.82 37.062">
            <path id="arrow_back_ios_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M18.531-842.938,0-861.469,18.531-880l3.289,3.289L6.579-861.469,21.82-846.227Z"
                transform="translate(0 880)" fill="#333a49" />
        </svg>
    </button>
    <button class="nav-arrow nav-arrow-right">
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="21.82" height="37.062" viewBox="0 0 21.82 37.062">
            <path id="arrow_back_ios_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M18.531-842.938,0-861.469,18.531-880l3.289,3.289L6.579-861.469,21.82-846.227Z"
                transform="translate(21.82 -842.938) rotate(180)" fill="#333a49" />
        </svg>
    </button>
    <button class="nav-arrow nav-arrow-up">
        <svg xmlns="http://www.w3.org/2000/svg" width="37.062" height="21.82" viewBox="0 0 37.062 21.82">
            <path id="arrow_back_ios_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M18.531-842.938,0-861.469,18.531-880l3.289,3.289L6.579-861.469,21.82-846.227Z"
                transform="translate(-842.938) rotate(90)" fill="#333a49" />
        </svg>
    </button>
    <button class="nav-arrow nav-arrow-down">
        <svg xmlns="http://www.w3.org/2000/svg" width="37.062" height="21.82" viewBox="0 0 37.062 21.82">
            <path id="arrow_back_ios_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24"
                d="M18.531-842.938,0-861.469,18.531-880l3.289,3.289L6.579-861.469,21.82-846.227Z"
                transform="translate(880 21.82) rotate(-90)" fill="#333a49" />
        </svg>
    </button>

    <div class="nav_menu_content">
        <div class="nav_menu_sub_category_name">
            <div class="nav_menu_sub_category_name_1">All</div>
            <div class="nav_menu_category_name">Business Support</div>
        </div>
        <div class="nav_menu_sub_category_name_2">
            <div class="active"></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav_menu_cat_change">
            <div class="active"></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
