{% load static %}

<!-- Универсальная Popup форма для публикации -->
<div class="publish_form_popup" id="publish_form_popup_{{ post_type }}_{{ post_id }}">
    <div class="publish_form_overlay"></div>
    <div class="publish_form_container">
        <div class="publish_form_header">
            <h3>Publish {{ post_type|title }} #{{ post_id }}</h3>
            <button class="publish_form_close" id="publish_form_close_{{ post_type }}_{{ post_id }}" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                </svg>
            </button>
        </div>
        
        <form class="publish_form" id="publish_form_{{ post_type }}_{{ post_id }}">
            {% csrf_token %}
            <input type="hidden" name="post_type" value="{{ post_type }}">
            <input type="hidden" name="{{ post_type }}_id" value="{{ post_id }}">
            
            <div class="form_group">
                <label for="publish_category_{{ post_type }}_{{ post_id }}">Category</label>
                <select id="publish_category_{{ post_type }}_{{ post_id }}" name="category" required>
                    <option value="">-- Select category --</option>
                    {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form_group">
                <label for="publish_service_{{ post_type }}_{{ post_id }}">Service</label>
                <select id="publish_service_{{ post_type }}_{{ post_id }}" name="service" required>
                    <option value="">-- Select service --</option>
                    {% for serv in services %}
                    <option value="{{ serv.id }}" data-category="{{ serv.category_name.id }}">{{ serv.service_name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form_group">
                <label for="publish_hashtags_{{ post_type }}_{{ post_id }}">Hashtags: <a href="#">Don't find hashtag?</a></label>
                <div id="publish_hashtags_container_{{ post_type }}_{{ post_id }}" class="publish_form_hashtag_container" tabindex="0" data-all-tags='{{ all_tags|safe }}' data-placeholder="Start typing to add hashtags...">
                    <input type="text" 
                           id="publish_hashtags_input_{{ post_type }}_{{ post_id }}" 
                           placeholder="Start typing tag..." 
                           autocomplete="off" 
                           class="publish_form_hashtags_input">
                </div>
                <div id="publish_hashtags_dropdown_{{ post_type }}_{{ post_id }}" class="publish_form_hashtags_dropdown"></div>
            </div>
            
            <input type="hidden" name="hashtags" id="publish_hashtags_hidden_{{ post_type }}_{{ post_id }}">
            
            <div class="form_section">
                <h4>Payment Options</h4>
                <div class="radio_group">
                    <label class="radio_label">
                        <input type="radio" name="payment_type" value="online">
                        <span class="radio_mark"></span>
                        Online payments
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="payment_type" value="cash">
                        <span class="radio_mark"></span>
                        Cash payments
                    </label>
                    <label class="radio_label disabled">
                        <input type="radio" name="payment_type" value="crypto" disabled>
                        <span class="radio_mark"></span>
                        <span class="strikethrough">Crypto</span>
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="payment_type" value="free">
                        <span class="radio_mark"></span>
                        Free
                    </label>
                </div>
            </div>
            
            <div class="form_section">
                <h4>Payment Type Options</h4>
                <div class="radio_group">
                    <label class="radio_label">
                        <input type="radio" name="task_type" value="subscription">
                        <span class="radio_mark"></span>
                        Subscription
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="task_type" value="contract">
                        <span class="radio_mark"></span>
                        Contract
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="task_type" value="project">
                        <span class="radio_mark"></span>
                        Project
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="task_type" value="one_time">
                        <span class="radio_mark"></span>
                        One time task
                    </label>
                </div>
            </div>
            
            <div class="form_section">
                <h4>Type of services</h4>
                <div class="toggle_switch">
                    <span class="toggle_text_left">Online (Remote)</span>
                    <input type="checkbox" id="publish_service_type_{{ post_type }}_{{ post_id }}" name="service_type" class="toggle_input">
                    <label for="publish_service_type_{{ post_type }}_{{ post_id }}" class="toggle_label"></label>
                    <span class="toggle_text_right">Offline (Visiting)</span>
                </div>
            </div>
            
            <div class="form_section">
                <h4>Type of publishing</h4>
                <div class="radio_group">
                    <label class="radio_label">
                        <input type="radio" name="publishing_type" value="business" checked>
                        <span class="radio_mark"></span>
                        Business services
                    </label>
                    <label class="radio_label">
                        <input type="radio" name="publishing_type" value="personal">
                        <span class="radio_mark"></span>
                        Personal support
                    </label>
                </div>
            </div>
            
            <div class="form_actions">
                <button type="submit" class="btn_primary">
                    Publish
                </button>
            </div>
        </form>
    </div>
</div>
