<div class="social_feed_time_slot">
    <div class="social_feed_time_slot_body_text">
        <div class="social_feed_time_slot_text_sections">
            <div class="social_feed_time_slot_text_section_1">
                <div class="sftsts1_company_name">Morisons</div>
                <div class="sftsts1_use_name">Jack Nikolson</div>
                <div class="sftsts1_hour_price">1 hour: 35 £</div>
                <div class="sftsts1_hour_price">min slot 9 hours</div>

            </div>
            <div class="social_feed_time_slot_text_section_2">
                <div class="sftsts2_aviability">Available at: 07.23 - 08.11</div>
                <div class="sftsts2_time_slot">Time-slot: 13.00 - 16.00</div>
                <div class="sftsts2_reserved_road_time">Reserved time on road:1 hour</div>
                <div class="sftsts2_reserved_start_location">start location: CR03JG</div>
            </div>
        </div>
        <div class="social_feed_time_slot_tag_section">
            <div class="social_feed_tags">
                <span>Lorem</span>
                <span>ipsum</span>
                <span>dolor</span>
                <span>sit</span>
                <span>amet</span>
                <span>consectetur</span>
                <span>adipisicing</span>
                <span>elit</span>
            </div>
        </div>
    </div>
    <div class="social_feed_time_slot_buttons">

        <button class="social_feed_time_slot_book_now_button">Book now</button>
    </div>
</div>