{% extends "task_tracker/base.html" %}

{% load static %}
{% block extra_head %}
<style>
/* Повний PrimeIcons CSS з локальними шрифтами - версія 2 */
@font-face {
  font-family: 'primeicons';
  src: url('{% static "css/fonts/primeicons.woff2" %}?v=2') format('woff2'),
       url('{% static "css/fonts/primeicons.woff" %}?v=2') format('woff'),
       url('{% static "css/fonts/primeicons.ttf" %}?v=2') format('truetype'),
       url('{% static "css/fonts/primeicons.eot" %}?v=2') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pi {
  font-family: 'primeicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-filter:before { content: "\e900"; }
.pi-plus:before { content: "\e901"; }
.pi-play:before { content: "\e902"; }
.pi-pencil:before { content: "\e903"; }
.pi-info-circle:before { content: "\e904"; }
.pi-users:before { content: "\e905"; }
.pi-send:before { content: "\e906"; }
.pi-calendar:before { content: "\e907"; }
.pi-clock:before { content: "\e908"; }
.pi-calendar-plus:before { content: "\e909"; }
.pi-briefcase:before { content: "\e90a"; }
.pi-check:before { content: "\e90b"; }
.pi-archive:before { content: "\e90c"; }
.pi-check-circle:before { content: "\e90d"; }
.pi-exclamation-triangle:before { content: "\e90e"; }
.pi-user:before { content: "\e90f"; }
.pi-file-edit:before { content: "\e910"; }
</style>
{% endblock %}

{% block task_content %}
<!-- React container -->
            <div id="react-task-tracker">
                <div style="padding: 40px; text-align: center; color: #666;">
                    <h3>Loading React TaskTracker...</h3>
                    <p>If you see this message, React is loading or there's an issue.</p>
                </div>
            </div>
{% endblock %}
