{% extends "task_tracker/base.html" %}

{% load static %}
{% block extra_head %}
<style>
/* Повний PrimeIcons CSS з локальними шрифтами - версія 2 */
@font-face {
  font-family: 'primeicons';
  src: url('{% static "css/fonts/primeicons.woff2" %}?v=2') format('woff2'),
       url('{% static "css/fonts/primeicons.woff" %}?v=2') format('woff'),
       url('{% static "css/fonts/primeicons.ttf" %}?v=2') format('truetype'),
       url('{% static "css/fonts/primeicons.eot" %}?v=2') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pi {
  font-family: 'primeicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-filter:before { content: "\e900"; }
.pi-plus:before { content: "\e901"; }
.pi-play:before { content: "\e902"; }
.pi-pencil:before { content: "\e903"; }
.pi-info-circle:before { content: "\e904"; }
.pi-users:before { content: "\e905"; }
.pi-send:before { content: "\e906"; }
.pi-calendar:before { content: "\e907"; }
.pi-clock:before { content: "\e908"; }
.pi-calendar-plus:before { content: "\e909"; }
.pi-briefcase:before { content: "\e90a"; }
.pi-check:before { content: "\e90b"; }
.pi-archive:before { content: "\e90c"; }
.pi-check-circle:before { content: "\e90d"; }
.pi-exclamation-triangle:before { content: "\e90e"; }
.pi-user:before { content: "\e90f"; }
.pi-file-edit:before { content: "\e910"; }
</style>
{% endblock %}

{% block task_content %}
<section class="container task_tracker_sides_separator">
    <div class="task_tracker_left_side_section">
        <div class="task_tracker_left_side_menu">
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Touchpoint" data-target="touchpoint-submenu">
                    <span class="task_tracker_menu_item_text">Touchpoint</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="touchpoint-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Contacts">Contacts</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Inbox" data-target="inbox-submenu">
                    <span class="task_tracker_menu_item_text">Inbox</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="inbox-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Favorites">Favorites</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Backlog" data-target="backlog-submenu">
                    <span class="task_tracker_menu_item_text">Backlog</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="backlog-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Projects">Projects</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Tasks">Tasks</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable active" data-category="Agenda" data-target="agenda-submenu">
                    <span class="task_tracker_menu_item_text">Agenda</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="agenda-submenu">
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Waiting" data-target="waiting-submenu">
                    <span class="task_tracker_menu_item_text">Waiting</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="waiting-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Orders">Orders</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Subscriptions">Subscriptions</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Published">Published</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item" data-category="Someday">
                    <span class="task_tracker_menu_item_text">Someday</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item" data-category="Projects">
                    <span class="task_tracker_menu_item_text">Projects</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Lockbook (Done)" data-target="lockbook-submenu">
                    <span class="task_tracker_menu_item_text">Lockbook (Done)</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="lockbook-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Lockbook_Projects">Projects</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Lockbook_Tasks">Tasks</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Archive" data-target="archive-submenu">
                    <span class="task_tracker_menu_item_text">Archive</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="archive-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Archive_projects">Projects</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Archive_Tasks">Tasks</div>
                </div>
            </div>
        </div>
    </div>
    <div class="task_tracker_right_side_section">
        <!-- React SubMenu Section will render here -->
        <div id="react-submenu-section">
            <div style="padding: 20px; text-align: center; color: #666;">
                <h4>Loading SubMenu...</h4>
                <p>React SubMenu component is loading...</p>
            </div>
        </div>
        <div class="task_tracker_right_side_sub_cat_menu" id="sub-cat-menu">
            <!-- Subcategories will be populated by JavaScript based on selected category -->
        </div>
        <div class="list_of_tasks_task_tracker task_tracker_tasks_sides_separator">
            <!-- Subcategory Display Container -->
            <div class="task_tracker_subcategory_display" id="subcategory-display">
                <!-- Subcategories will be populated by JavaScript based on selected category -->
            </div>
            <div class="task_tracker_datetime_section">
                <div class="task_tracker_datetime_left">
                    <div class="task_tracker_datetime_row_1">
                        <span class="task_tracker_day_name" id="day-name">Sunday</span>
                        <span class="task_tracker_weather_icon">⛅</span>
                    </div>
                    <div class="task_tracker_datetime_row_2">
                        <span class="task_tracker_day_number" id="day-number">21</span>
                    </div>
                    <div class="task_tracker_datetime_row_3">
                        <span class="task_tracker_month_name" id="month-name">SEPTEMBER</span>
                    </div>
                </div>
                <div class="task_tracker_datetime_divider_center"></div>
                <div class="task_tracker_datetime_right">
                    <div class="task_tracker_datetime_right_left">
                        <div class="time_row_1">
                            <span class="task_tracker_current_time" id="current-time"></span>
                        </div>
                        <div class="time_row_2">
                            <span class="task_tracker_location" id="location">London</span>
                        </div>
                    </div>
                    <div class="task_tracker_datetime_right_right">
                        <div class="task_tracker_action_icons">
                            <div class="task_tracker_icon_item">🔍</div>
                            <div class="task_tracker_icon_item">⏳</div>
                            <div class="task_tracker_icon_item">🤓</div>
                        </div>
                    </div>
                </div>
                <div class="task_tracker_datetime_divider_bottom"></div>
            </div>
            <!-- React Task Tracker App will render here -->
            <div id="react-task-tracker">
                <div style="padding: 40px; text-align: center; color: #666;">
                    <h3>Loading React TaskTracker...</h3>
                    <p>If you see this message, React is loading or there's an issue.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
