{% extends "task_tracker/base.html" %}

{% block task_content %}
<section class="container task_tracker_sides_separator">
    <div class="task_tracker_left_side_section">
        <div class="task_tracker_left_side_menu">
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Touchpoint" data-target="touchpoint-submenu">
                    <span class="task_tracker_menu_item_text">Touchpoint</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="touchpoint-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Contacts">Contacts</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Inbox" data-target="inbox-submenu">
                    <span class="task_tracker_menu_item_text">Inbox</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="inbox-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Favorites">Favorites</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable active" data-category="Agenda" data-target="agenda-submenu">
                    <span class="task_tracker_menu_item_text">Agenda</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="agenda-submenu">
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Waiting" data-target="waiting-submenu">
                    <span class="task_tracker_menu_item_text">Waiting</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="waiting-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Orders">Orders</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Subscriptions">Subscriptions</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Published">Published</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item" data-category="Someday">
                    <span class="task_tracker_menu_item_text">Someday</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item" data-category="Projects">
                    <span class="task_tracker_menu_item_text">Projects</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Lockbook (Done)" data-target="lockbook-submenu">
                    <span class="task_tracker_menu_item_text">Lockbook (Done)</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="lockbook-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Lockbook_Projects">Projects</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Lockbook_Tasks">Tasks</div>
                </div>
            </div>
            <div class="task_tracker_menu_item_container">
                <button class="task_tracker_menu_item expandable" data-category="Archive" data-target="archive-submenu">
                    <span class="task_tracker_menu_item_text">Archive</span>
                    <span class="task_tracker_menu_item_arrow">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
                <div class="task_tracker_submenu" id="archive-submenu">
                    <div class="task_tracker_submenu_item" data-subcategory="Archive_projects">Projects</div>
                    <div class="task_tracker_submenu_item" data-subcategory="Archive_Tasks">Tasks</div>
                </div>
            </div>
        </div>
    </div>
    <div class="task_tracker_right_side_section">
        <div class="task_tracker_sub_menu_section">
            <button class="task_tracker_sub_menu_filter_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" stroke="#282d3b" stroke-width="2"/>
                    <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z" stroke="#282d3b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
            </button>
            <div class="task_tracker_sub_menu_scrollable_container">
                <div class="task_tracker_sub_menu_navigation_items">
                    <button class="task_tracker_sub_menu_nav_btn">Business support</button>
                    <button class="task_tracker_sub_menu_nav_btn">Personal support</button>
                </div>
            </div>
            <button class="task_tracker_sub_menu_add_btn">
                <span class="task_tracker_add_icon">+</span>
            </button>
        </div>
        <div class="task_tracker_right_side_sub_cat_menu" id="sub-cat-menu">
            <!-- Subcategories will be populated by JavaScript based on selected category -->
        </div>
        <div class="list_of_tasks_task_tracker task_tracker_tasks_sides_separator">
            <div class="task_tracker_datetime_section">
                <div class="task_tracker_datetime_left">
                    <div class="task_tracker_datetime_row_1">
                        <span class="task_tracker_day_name">Friday</span>
                        <span class="task_tracker_weather_icon">⛅</span>
                    </div>
                    <div class="task_tracker_datetime_row_2">
                        <span class="task_tracker_day_number">12</span>
                    </div>
                    <div class="task_tracker_datetime_row_3">
                        <span class="task_tracker_month_name">SEPTEMBER</span>
                    </div>
                </div>
                <div class="task_tracker_datetime_divider_center"></div>
                <div class="task_tracker_datetime_right">
                    <div class="task_tracker_datetime_right_left">
                        <div class="time_row_1">
                            <span class="task_tracker_current_time">12.40</span>
                        </div>
                        <div class="time_row_2">
                            <span class="task_tracker_location">London</span>
                        </div>
                    </div>
                    <div class="task_tracker_datetime_right_right">
                        <div class="task_tracker_action_icons">
                            <div class="task_tracker_icon_item">🔍</div>
                            <div class="task_tracker_icon_item">⏳</div>
                            <div class="task_tracker_icon_item">🤓</div>
                        </div>
                    </div>
                </div>
                <div class="task_tracker_datetime_divider_bottom"></div>
            </div>
            <!-- React Task Tracker App will render here -->
            <div id="react-task-tracker">
                <div style="padding: 40px; text-align: center; color: #666;">
                    <h3>Loading React TaskTracker...</h3>
                    <p>If you see this message, React is loading or there's an issue.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
